<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657603431800-bi6u4b3ndtkoqgnn9cc3ednku1ophlt2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657603431800-bi6u4b3ndtkoqgnn9cc3ednku1ophlt2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>657603431800-b0aceor1acqo019i81vlm4jhk66pepjc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCEqKhyNE2CUzVQqVeDLnoHf0nceRdXhig</string>
	<key>GCM_SENDER_ID</key>
	<string>657603431800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ngi.enotaris</string>
	<key>PROJECT_ID</key>
	<string>notaris-3c179</string>
	<key>STORAGE_BUCKET</key>
	<string>notaris-3c179.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657603431800:ios:59d4f9b42be429aa760c8d</string>
</dict>
</plist>